Suggest to add a paragraph in the section 5 to explain which common type or type in specific module is imported

WG Last Call: draft-ietf-netmod-intf-ext-yang-07, Qin reviiew issue 2.

2. Suggest to add a paragraph in the section 5 to explain which common type or type in specific module is imported

I'm happy to list the RFCs that the modules depend on/references, which presumably also helps keeps the tooling happy about the RFC references.

But I'm not convinced that categorising them as typedef dependencies is really helpful in the RFC text.  If this information is important then I would suggest that it should be annotated in the YANG (I've previously raised this as a potential issue on the YANG Next issue tracker: https://github.com/netmod-wg/yang-next/issues/95).

Perhaps adding the following text is enough:

Proposed/updated:

4.  Interface Extensions YANG Module

   This YANG module augments the interface container defined in
   [RFC8343].  It also contains references to [RFC6991] and [RFC7224].

...

Proposed/updated:

5.  Interfaces Ethernet-Like YANG Module

   This YANG module augments the interface container defined in RFC 8343
   [RFC8343] for Ethernet-like interfaces.  This includes Ethernet
   interfaces, 802.3 LAG (802.1AX) interfaces, Switch Virtual
   interfaces, and Pseudo-Wire Head-End interfaces.  It also contains
   references to [RFC6991], [RFC7224], and [IEEE802.3.2-2019].

...


Scott, did we decide that  [IEEE802.3.2-2019] is still the latest and correct reference?  Otherwise, I think that we are good and can close this one.

There is a new rollup underway, but the -2019 version is the latest right now.

Complete.